KERNEL_DRIVER_CFLAGS=
KERNEL_DRIVER_CPPFLAGS=
KERNEL_DRIVER_LDFLAGS=
KERNEL_DRIVER_LIBS=

KERNEL_DRIVER_OBJS=\
$(DRIVERDIR)/keyboard/keyboard.o \
$(DRIVERDIR)/mouse/mouse.o \
$(DRIVERDIR)/pcspkr/pcspkr.o \
$(DRIVERDIR)/vga/vga.o \
$(DRIVERDIR)/vga/font.o \
$(DRIVERDIR)/ata/ata.o \
$(DRIVERDIR)/fat32/fat32.o \
$(DRIVERDIR)/pci/pci.o \
